{% extends "base.html" %}
{% block content %}
<form class="image-input" action="http://127.0.0.1:5000/result" method="post" enctype="multipart/form-data">
        <br>
        <div>
			<center><img style="height:400px;width:600px;display:none" id="your-image"/></center>
        </div>
        <br>
      <center><input accept="image/*" name="file" onchange="previewImage(event)" type="file" class="btn btn-dark btn-lg"></center><br>
			<br>
            <center><input type="submit" value="Enhance" class="btn btn-dark btn-lg"></center>

    </form>


    <script>
		var previewImage = function(event) {
		    var preview = document.getElementById('your-image');
		    preview.src = URL.createObjectURL(event.target.files[0]);
		    preview.style.display = "block";
		};
	</script>
{% endblock %}