<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Image Enhancement</title>
  </head>
  <body>
    <form class="image-input" action="http://127.0.0.1:5000/result" method="post" enctype="multipart/form-data">
        <div>
			<img style="height:400px;width:600px;display:none" id="your-image"/>
        </div>
      <input accept="image/*" name="file" onchange="previewImage(event)" type="file"><br>
			<br>
			<input type="submit" value="Submit">
    </form>


    <script>
		var previewImage = function(event) {
		    var preview = document.getElementById('your-image');
		    preview.src = URL.createObjectURL(event.target.files[0]);
		    preview.style.display = "block";
		};
	</script>
  </body>
</html>